.login {
  justify-content: space-between;
  background: url("bg.png");
  display: flex;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #1E212C;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #787A80;
    margin-bottom: 20px;
  }
  &__label {
    font-weight: 400;
    font-size: 14px;
    color: #424551;
    cursor: pointer;
  }
  &__input {
    height: 40px;
    padding-left: 15px;
    margin: 10px 0 10px;
    outline: none;
    border: none;
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #9A9CA5;
    }
  }
  &__quest {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #424551;
  }
  &__btn {
    cursor: pointer;
    margin: 30px auto 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    padding: 12px 0 ;
    width: 314px;
    background: #00C65E;
    border: 1px solid #00C65E;
    color: #ffffff;
  }
  &__form {
    width: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px;
  }

  &__input {
    height: 40px;
    padding-left: 15px;
    margin: 10px 0 10px;
    outline: none;
    border: 1px solid #DADCDC;
    border-radius: 10px;
    width: 304px;
  }
  
  &__link {
    color: red;
  }

}