.accessories {
  width: inherit;
  max-width: 930px;
  padding: 19px 0 105px;
  &__nav {
    display: flex;
    align-items: center;
    column-gap: 6px;
    &-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #DADCDC;
    }
    &-unlink {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    margin-top: 20px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin: 20px 0 30px;
  }
  &__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &-info {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #DADCDC;
    }
    &-row {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: #DADCDC;
    }
    &-select{
      border: none;
      outline: none;
      cursor: pointer;
    }
    &-option {
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
    }
    &-change {
      display: flex;
      column-gap: 6px;
      font-size: 15px;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
  }
  &__card {
    width: calc(25% - 4.5px);
    padding: 8px 15px;
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    border-radius: 8px;
    position: relative;
  }
  &__img {
    width: 100%;
  }
  &__like {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 152%;
    margin: 8px 0 4px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #00C65E;
    margin-bottom: 4px;
  }
  &__loc {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #979797;
  }
  &__user {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 50%;
  }
}

.card {
  width: 100%;
  padding: 8px 15px;
  box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
  border-radius: 8px;
  position: relative;
}