* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'TT Norms', sans-serif;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.new-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  column-gap: 30px;
}

.icon {
  color: #00C65E;
}
@import "./Layout/Header/header";
@import "pages/Auth/auth";
@import "./pages/Auth/Register/register";
@import "pages/Auth/Login/login";
@import "./pages/Home/Banner/banner";
@import "pages/Home/Slider/slider";
@import "./pages/Home/Selection/selection";
@import "./pages/Accessories/accessories";
@import "./pages/Accessories/Sidebar/sidebar";